
*.fbx

*.spp

*.zip

*.mtl

*.obj

*.zpr

*.painter_lock

Module 10/Unit 10 Lab - All Models Lit/SwordTSet.jpg

*.json

*.swatches

*.PNG

*.tx

*.swatch

*.text

*.otf

*.spi1d

*.py

*.dll

*.svg

*.spimtx

*.html

*.txt

*.3dl

*.spi3d

*.ttf

*.3dm

*.exe

*.ocio

*.css

*.glsl

v001/ao/

Module 11/Unit 11 Lab - All Models Rendered/v001/Z/

Module 11/Unit 11 Lab - All Models Rendered/v001/specular/

Module 11/Unit 11 Lab - All Models Rendered/v001/shadow/

Module 11/Unit 11 Lab - All Models Rendered/v001/diffuse/

Module 11/Unit 11 Lab - All Models Rendered/v001/alpha/

Module 11/Unit 11 Lab - All Models Rendered/v001/ao/

Module 11/Unit 11 Lab - All Models Rendered/v001/beauty/

*.com

*.exr
